@font-face {
  font-family: "Sen";
  src: url("fonts/Sen-Regular.ttf") format("truetype");
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: "Sen";
  src: url("fonts/Sen-Bold.ttf") format("truetype");
  font-weight: 700; /* Bold */
  font-style: normal;
}

@font-face {
  font-family: "Sen";
  src: url("fonts/Sen-SemiBold.ttf") format("truetype");
  font-weight: 600; /* SemiBold */
  font-style: normal;
}

body {
  font-family: "Sen", sans-serif;
}
